<h1><%- appName %> invites</h1>

<p><%- inviteeEmail %> just signed up - you have <%- score %> points!</p>

<% if (rewards.length > 0) {%>
<p>Here’s your reward:</p>
<% } %>

<p><% for(var r in rewards) { %><strong><%= rewards[r].description %></strong><br /><%= rewards[r].claimInstructions %><br />
<% } %></p>

<% if (nextReward) {%>
<p>Your next reward is unlocked when you have <%- nextReward.score %> points:<br />
<%- nextReward.description %></p>
<% } %>

<p>Invite more at <a href="<%- appSendInviteUrl %>"><%- appSendInviteUrl %></a></p>