<h1>You unlocked your reward for <%- appName %>!</h1>

<p>You and your friend <%- inviterEmail %> each has been rewarded a free month of <%- appName %>.</p>

<%if (appDescription) {%>
<p><%- appDescription %></p>
<% } %>

<p><a class="call-to-action" href="<%- appAcceptInviteUrl %>">Get started with <%- appName %>!</a></p>